* {
  margin: 0%;
}
h2 {
  font-weight: 500;
  font-size: 20px;
}
.nav-bar a {
  text-decoration: none;
}
.nav-bar {
  border-bottom: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #ffc017;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 8px 1px #888888;
  position: fixed;
  top: 0%;
  width: 100%;
}
.users {
  align-items: center;
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin-right: 10%;
}
.users p {
  color: black;
}
.registerUser {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 30px;
  background-color: black;
  border: 1px solid black;
  border-radius: 70px;
}
.registerUser p {
  text-align: center;
  color: aliceblue;
}
.logo {
  background-color: #ffc017;
  margin-left: 10%;
  width: 200px;
}
.logo h1 {
  color: black;
  width: 100%;
  height: auto;
}
.motoMedium {
  padding-top: 3em;
  display: flex;
  background-color: #ffc017;
  border-bottom: 1px solid black;
}
.motoContainer {
  display: flex;
  flex-direction: row;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-left: 10%;
}

.moto p:first-child {
  font-size: 6em;
}
.moto p:nth-child(2) {
  font-weight: 500;
  font-size: 1.5em;
  padding-top: 1em;
}

.motoContainer button {
  font-weight: 600;
  background-color: black;
  color: aliceblue;
  border: none;
  margin-top: 2em;
  width: 40%;
  height: 3em;
  border-radius: 70px;
}
.treadingContainer {
  display: flex;
  margin-top: 2em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1em;
  flex-direction: column;
  border-bottom: 1px solid #888888;
}
.treadingContainer i {
  border: 1px solid black;
  padding: 1px;
  border-radius: 50%;
  margin-right: 1em;
}
.titleSection {
  display: flex;
}
.treadingContainer .card img {
  width: 30px;
  border-radius: 50%;
}
.treadingContainer .card {
  display: flex;
  flex-direction: column;
}
.article {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
  width: 30%;
  height: auto;
}
.article span {
  font-weight: bold;
  padding-right: 0.5em;
  font-size: xx-large;
  color: #888888;
}
.articols {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3em;
}
.user {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.title {
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.title p:first-of-type {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: bold;
}
.mainContainer .title p:first-of-type {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: larger;
  width: 70%;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3em;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}
.mainContainer main {
  width: 70%;
}
.mainContainer .card {
  display: flex;
  flex-direction: column;
}
.mainContainer .article {
  padding-bottom: 3em;
  margin-bottom: 2em;
}

.mainContainer .card .user img {
  width: 30px;
  border-radius: 50%;
  margin-right: 0.5em;
}
.mainContainer .title p:nth-child(2) {
  white-space: nowrap;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px;
}
.mainContainer .title p:last-of-type {
  margin-top: 1em;
}
.mainContainer .title a {
  text-decoration: none;

  text-align: center;
  background-color: #888888;
  color: antiquewhite;
  border-radius: 70px;
  width: 4em;
  margin-left: 1em;
}
.mainContainer .title i {
  margin-left: 50%;
}
.mainContainer .card img {
  width: 10em;
  height: auto;
}
.mainContainer .user {
  margin-bottom: 0%;
}
.cardBody {
  display: flex;
  align-items: flex-end;
}
.topics .link {
  margin-top: 1em;
  margin-right: 1em;
  background-color: #b3afaf;
  border-radius: 70px;
  padding: 0.3em;
  display: flex;
  text-decoration: none;
  color: black;
}
.top a {
  display: block;
  margin-top: 2em;
  text-decoration: none;
  color: green;
  padding-bottom: 1em;
}
.topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.top {
  border-bottom: 1px solid #888888;
}
aside p:first-of-type {
  font-weight: bold;
  padding-top: 1em;
  padding-bottom: 1em;
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer a {
  padding-top: 0.5em;
  padding-right: 0.5em;
  color: #b3afaf;
  text-decoration: none;
}
